.intro{
	background: url("../img/hero-image.jpg") ;
	background-size: cover;
	font-size: 42px;
	color: white;
	text-align: center;
	margin: auto;
	font-family: "proximanova-light-webfont";
	padding: 12% 8.2% 10% 10%;
	line-height: 1.3;
}
.intro img{
	margin-top: 6%;
}
.text{
	text-align: center;
	font-family: "proximanova-light-webfont";
	font-size: 24px;
	color: #606060;
	padding: 10% 18%;
}
.text2{
		margin-top: 9%;
		font-size: 30px;
		color: #002366;
		padding: 0% 22%;
	}
.carrie{
	margin-bottom: 5%
}
.servicio{
	font-family: "proximanova-light-webfont";
	border: #979797 1px solid;
	width: 100%;
	text-align: center;
	padding: 10%;
	padding-bottom: 12%;
}
.one{

	padding-bottom: 22.7%;;
}
.two{
	padding-bottom: 22.6%;
}
.title{
	font-size: 24px;
	color: #002366;
}	

/*seccion contactanos*/

.contactanos{
background: url("../img/background-contac-us.jpg");
background-position: center;
    padding: 35px 0 75px;
}
.contactanos h1{
	    padding: 35px;
}

.contactanos p{
	    padding-bottom: 40px;
}
input, textarea, .buttonsend{
	margin: 10px;
}
input, textarea{
	width: 100%;
	height: 55px;
	text-align: center;
	font-size: 24px;
	font-family: "proximanova-regular-webfont";
	border:none;
}
textarea{
	overflow-x: hidden;
    color: rgb(169, 169, 169);
    padding: 5px 0 0 0;
    resize: none;
}

.buttonsend{
    background: #179AD6;
    color: white;
    padding: 16px 100px;
    /* height: 24px; */
    display: inline-block;
    border-radius: 5px;

}
/*footer*/

footer a {
	font-family: "proximanova-light-webfont";
	color: #979797;
	text-decoration: none;
	
}
footer{
	
   	font-family: "proximanova-light-webfont";
    text-align: center;
   margin: auto;
    color: #979797;
	line-height: 1;

	}
footer a{
	padding: 8% 0;
}	
